@{
    Layout = null;
}

<ul class="nav ace-nav pull-right">       
    <li class="light-blue">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
            <i class="icon-caret-down"></i>
        </a>
        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
            <li>
                <a href="http://pessoal.rederecord.com.br/Person.aspx">
                    <i class="icon-user"></i>
                    Profile
                </a>
            </li>

            <li class="divider"></li>

            <li>
                <a href="#">
                    <i class="icon-off"></i>
                    Logout
                </a>
            </li>                     

        </ul>
    </li>
</ul>