<a class="menu-toggler" id="menu-toggler" href="#">
    <span class="menu-text"></span>
</a>

<div class="sidebar menu-min" id="sidebar">
    <ul class="nav nav-list">
        <li>
            <a href="@Url.Action("Index", "Home")">
                <i class="icon-home"></i>
                <span class="menu-text"> Home </span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Formulario")">
                <i class="icon-file"></i>
                <span class="menu-text"> Formulário </span>
            </a>
        </li>
    </ul>
</div>
